<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive</title>

</head>
<body style="background-color:<%=color%>">
    이름 : <%=name%> <br>
    성별 : <%=gender%> <br>
    생년월일 : <%=year%>년 <%=month%>월 <%=day%>일 <br>
    관심사 : <%=interested%> <br>
    좋아하는 색: <%=color%> <br>
    자기애는 어느정도? : <%=love%> <br>
    옆사람 얼만큼 좋아함? : <%=like%> <br>
    


</body>
</html>